

:root {
    --white: #ffffff;
    --blueberry: #050542;
    --turquoise: #66e5bf;
    --lavender: #a675f5;
    --attention: #050542;
    --attention-background: #05054233;
    --call-to-action: #FFFC86;
    --rounded: .5rem;
    --pilled: 2rem;
    --shadow: .3rem;
 }

 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size:"Open Sans", sans-serif;
    font-size: 1.2rem;
    color: var(--white);
    background:var(--blueberry);
}

header{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: 1em;
    padding-bottom: 2em;
}

.logo{
    width: 170px;
    height: 130px;
}
body>header>p{
    font-size:rem;
    border-left: 1px solid var(--white);
    padding-left: 1em;
}

/*.fdnd-logo{
    position:relative;
    width: 109px;
    height: 70px;
    padding: 0.5rem 1.2rem;
    border: 1px solid var(--turquoise);
    top:2.2em;
    left: 0;
    background-color: var(--blueberry);
    border-radius: var(--rounded);
    box-shadow: calc(-1* var(--shadow)) var(--shadow) 0 0 var(--turquoise);
    color: var(--turquoise);
    font-size: 2rem;
    padding: ;
    font-family: sans-serif;
    text-align: center;
    text-decoration: lowercase;
   

}
*/

 .fdnd-logo {
    position: absolute;
    padding: 0 1rem calc(1rem + var(--shadow)) var(--shadow);
    top: 0;
    left: 0;
    width: fit-content;
    background: var(--blueberry);
    text-decoration: none;
    border-bottom-right-radius: var(--pilled);
    box-sizing: content-box;
  }
  
  .fdnd-logo span {
    display: block;
    padding: 0.5rem 1.2rem;
    border: 1px solid var(--turquoise);
    border-radius: var(--rounded);
    box-shadow: calc(-1 * var(--shadow)) var(--shadow) 0 0 var(--turquoise);
    color: var(--turquoise);
    font-size: 2.5rem;
    text-transform: lowercase;
  }
.home>img{
    width: 1280px;
    height: 1024px;
    margin-left: 20px;

}
