@font-face {
    font-family: "Open-sans";
    font-weight: normal;
    src: url('/assets/fonts/OpenSans-Regular.ttf');
  }

  @font-face {
    font-family: "Open-sans";
    font-weight: bold;
    src: url('/assets/fonts/OpenSans-Bold.ttf');
  }

  :root {
    --white: #ffffff;
    --blueberry: #050542;
    --turquoise: #66e5bf;
    --lavender: #a675f5;
    --lavender-dark: hsl(263, 86%, 60%);
    --attention: #050542;
    --attention-background: #05054233;
    --call-to-action: #fffc86;
    --rounded: 0.5rem;
    --pilled: 2rem;
    --shadow: 0.3rem;
  }
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size:"Open Sans", sans-serif;
    font-size: 1.2rem;
    color: var(--white);
    background-color:var(--blueberry);
}
html{
    scroll-behavior: smooth;
}
/* heder */
/* logo HvA */

body>header>section{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: 1em; 
}

.logo {
    width: 200px;
    height: 150px;
    margin: 0 1.8em;
  }

body>header>section>p{
    border-left: 1px solid var(--white);
    padding-left: 1em;
}

/* logo FDND*/

 .fdnd-logo {
    position:absolute;
    padding: 0 1rem calc(1rem + var(--shadow)) var(--shadow);
    top:0;
    left:0;
    width: fit-content;
    background: var(--blueberry);
    text-decoration: none;
    border-bottom-right-radius: var(--pilled);
    box-sizing: content-box;
  }
  
  .fdnd-logo span {
    display: block;
    padding: 0.5rem 1.2rem;
    border: 1px solid var(--turquoise);
    border-radius: var(--rounded);
    box-shadow: calc(-1 * var(--shadow)) var(--shadow) 0 0 var(--turquoise);
    color: var(--turquoise);
    font-size: 2.5rem;
    text-transform: lowercase;
  }
  /* hero pictur */
.home{
    position: relative;
    height:78vh;
    margin:3%;
    background-image: url(/images/kickoff-3.JPG);
    background-size: cover;
    background-position: center 10%;
    border-radius: var(--pilled);
}

.home>h1>span{
    /* display: block; */
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem 2rem 0 2rem;
    background: var(--blueberry);
    border-top-left-radius: var(--pilled);
    color: var(--lavender);
    font-size: calc(1.5rem + 1.5vw);
    line-height: calc(1.5rem + 1.5vw);
    text-decoration: none;
    font-family:sans-serif;
}
/* nav */
.menu>ul>li{
    padding: 0.5em 2em;
    background-color:var(--lavender);
    border-radius:var(--pilled);
    font-size: 1.5rem; 
    transition: .3s transform;
    transform-origin: bottom left;

}
nav>ul>li>a{
    text-decoration: none;
    color:var(--blueberry);
}

.menu>ul{
    display: flex;
    justify-content:space-between;
    padding:1.5em;
    align-items: center;
    list-style:none ;
}
.menu>ul>li:nth-child(2){
    background-color: var(--turquoise);
}
.menu>ul>li:nth-child(4){
    background-color: var(--turquoise);
}

.menu>ul>li:hover{
    background-color: var(--call-to-action);
    transform:rotate(9deg);
    cursor: pointer;
}

/* main */

/* over fdnd */
#over-fdnd, #vragenlijst, #code-challenges, #intake-gesprek{ 
    width:fit-content;
    margin:3%;
    padding: 1em;
    background-color: var(--turquoise);
    color: var(--blueberry);
    border-radius: var(--pilled);
    
}
/* imgs */
.img-1{
    position: relative;
    left: -3.5em;
    width:50vw;
    height: 80vh;
    padding:3em 7em 3em 3em ;
    border-radius: var(--pilled);
    background-color: var(--blueberry);
   }
   .img-2, .img-3,.img-4{
    position: relative;
    bottom:-2.5em;
    right:-30.5em;
    width:51vw;
    height: 80vh;
    padding:3em 2em 3em 3em ;
    border-radius: var(--pilled);
    background-color: var(--blueberry);

   }

.main{
 width:40vw;
 height: 50vh;
 margin:1em 0 1em 23em ;
 background-size: cover;
 border-radius: var(--pilled);
}
/* end imgs */
h2{
  margin: -2rem 0 2rem -2rem;
  padding: 0 1rem 1rem 2rem;
  position: relative;
  width: fit-content;
  font-family: "Open sans",sans-serif;
  font-weight: normal;
  font-size: calc(1.5rem + 1.5vw);
  line-height: calc(1.5rem + 1.5vw);
  color: var(--white);
  background: var(--blueberry);
  border-bottom-right-radius: var(--rounded);
  z-index: 2;
}

#over-fdnd>p{
 font-size: 1.5rem;
 font-family: "Open-sans",sans-serif;
 font-weight: normal;
 line-height: 1.75;
 margin:1.5em;
}
#over-fdnd>ul{
 font-size: 1.5rem;
 font-family: "Open-sans",sans-serif;
 font-weight: normal;
 line-height: 1.75;
 margin:1.5em;
}
.icon{
 font-size: 1.5rem;
 font-family: "Open-sans",sans-serif;
 font-weight: normal;
 line-height: 1.75;

}
/* end over fdnd */
/* vragenlijst */

#vragenlijst>p{
    font-size: 1.5rem;
    font-family: "Open-sans",sans-serif;
    font-weight: normal;
    line-height: 1.75;
    margin:1.5em;
   }
/* code challenges */
#code-challenges>p{
    font-size: 1.5rem;
    font-family: "Open-sans",sans-serif;
    font-weight: normal;
    line-height: 1.75;
    margin:1.5em;
   }
   /* intake gesprek */
   #intake-gesprek>p{
    font-size: 1.5rem;
    font-family: "Open-sans",sans-serif;
    font-weight: normal;
    line-height: 1.75;
    margin:1.5em;
   }
/* end main */
/* footer */
footer{
    margin: 0 auto;
    padding: 1rem;
    width:fit-content;
}
footer nav{
    padding: 2rem;
    border: 1px solid var(--lavender);
    color:var(--lavender);
    border-radius: var(--pilled);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

footer>nav>p,ul{
    font-size: 1.5rem;
    font-family: "Open-sans",sans-serif;
    font-weight: normal;
    line-height: 1.75;
    margin:1.5em;
   }
footer>nav>ul>li>a{
    color: var(--lavender);
    text-decoration-line: underline;
}
footer a:hover{
    color:red;
}

  footer h2 {
    margin: calc(-2rem - 1px) calc(-2rem - 1px) 2rem 0;
    padding: 0 1rem 0.5rem 1rem;
    position:relative;
    width: fit-content;
    font-size: calc(1.5rem + 1.5vw);
    line-height: calc(1.5rem + 1.5vw);
    color: var(--lavender);
    background: var(--blueberry);
    border-left: 1px solid var(--lavender);
    border-bottom: 1px solid var(--lavender);
    border-bottom-left-radius: var(--rounded);
    z-index: 2;
  }

  footer ul{
      margin-left:5em;
      width:94%;
      list-style:none;
      display: flex;
      flex-direction:row;
      justify-content: space-between; 

  }





